/**
 * @provides reporting-styles-css
 */

.device-desktop .phui-property-list-key {
  width:26%;
  margin-left: 1%;
  text-align: right;
  float: left;
  clear: left;
  margin-bottom: 4px;
}

.device-desktop .phui-property-list-value {
  width: 70%;
  margin-left: 1%;
  float: left;
  margin-bottom: 4px;
  word-wrap: break-word;
}
